 {extend name="base" /}
 {block name="left"}
 <div class="col-md-8 blog-main">
 	<div class="row">
 		<div class="col-md-6 col-sm-6">
 			<article class=" blog-teaser">
 				<header>
 					<img src="__INDEX__/img/1.jpg" alt="">
 					<h3><a href="single.html">How to Create Template</a></h3>
 					<span class="meta">19 August 2015, John Doe</span>
 					<hr>
 				</header>
 				<div class="body">
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sit. Doloribus dolores neque eos. Velit eveniet, necessitatibus aut sit tenetur perferendis! Commodi pariatur dignissimos, quis sequi odit iusto cumque quod!
 				</div>
 				<div class="clearfix">
 					<a href="single.html" class="btn btn-clean-one">Read more</a>
 				</div>
 			</article>
 		</div>
 		<div class="col-md-6 col-sm-6">
 			<article class="blog-teaser">
 				<header>
 					<img src="__INDEX__/img/2.jpg" alt="">
 					<h3><a href="single.html">Clean Personal Blog Template</a></h3>
 					<span class="meta">19 August 2015, John Doe</span>
 					<hr>
 				</header>
 				<div class="body">
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sit. Doloribus dolores neque eos. Velit eveniet, necessitatibus aut sit tenetur perferendis! Commodi pariatur dignissimos, quis sequi odit iusto cumque quod!
 				</div>
 				<div class="clearfix">
 					<a href="single.html" class="btn btn-clean-one">Read more</a>
 				</div>
 			</article>
 		</div>
 	</div>
 	
 	<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >手机网站模板</a></div>

 	<div class="row">
 		<div class="col-md-6 col-sm-6">
 			<article class="blog-teaser">
 				<header>
 					<img src="__INDEX__/img/3.jpg" alt="">
 					<h3><a href="single.html">Blackor - Responsive HTML5 Theme</a></h3>
 					<span class="meta">19 August 2015, John Doe</span>
 					<hr>
 				</header>
 				<div class="body">
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sit. Doloribus dolores neque eos. Velit eveniet, necessitatibus aut sit tenetur perferendis! Commodi pariatur dignissimos, quis sequi odit iusto cumque quod!
 				</div>
 				<div class="clearfix">
 					<a href="single.html" class="btn btn-clean-one">Read more</a>
 				</div>
 			</article>
 		</div>
 		<div class="col-md-6 col-sm-6">
 			<article class="blog-teaser">
 				<header>
 					<img src="__INDEX__/img/4.jpg" alt="">
 					<h3><a href="single.html">Yellow - HTML5 Template</a></h3>
 					<span class="meta">19 August 2015, John Doe</span>
 					<hr>
 				</header>
 				<div class="body">
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sit. Doloribus dolores neque eos. Velit eveniet, necessitatibus aut sit tenetur perferendis! Commodi pariatur dignissimos, quis sequi odit iusto cumque quod!
 				</div>
 				<div class="clearfix">
 					<a href="single.html" class="btn btn-clean-one">Read more</a>
 				</div>
 			</article>
 		</div>
 	</div>

 	<div class="paging">
 		<a href="#" class="older">Older Post</i></a>
 	</div>
 </div>
 {/block}  