    {extend name="base" /}
    {block name="left"}

    <div class="col-md-8 blog-main">
    	<article class="blog-post">
    		<header>

    			<div class="lead-image">
    				<img src="__IMG__/{$article.img}" alt="" class="img-responsive">

    			</div>
    		</header>
    		<div class="body">
    			<h1>{$article.title}</h1>
    			<div class="meta">
    				<i class="fa fa-user"></i>{$article.author}<i class="fa fa-calendar"></i>{$article.update_time|date="Y年m月d日"}<i class="fa fa-comments"></i><span class="data"><a href="#comments">{$article.clicks}Clicks</a></span>
                    <i class="fa fa-tags">
                        {volist name="$article.tags" id="vo"}
                        {$vo.name}
                        {/volist}
                    </i>
                </div>
    			<p>{$article.contents}</p>
    		</div>
    	</article>

    </div>

    {/block}
