<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
	<meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文" />
	<meta name="description" content="JS代码网提供Bootstrap模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
	<link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css" />
	<script src="__ADMIN__/assets/js/ace-extra.min.js"></script>
	<script src="__ADMIN__/assets/js/jquery-2.0.3.min.js"></script>
	<script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
	<script src="__ADMIN__/assets/js/typeahead-bs2.min.js"></script>
	<script src="__ADMIN__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="__ADMIN__/assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="__ADMIN__/assets/js/jquery.slimscroll.min.js"></script>
	<script src="__ADMIN__/assets/js/jquery.easy-pie-chart.min.js"></script>
	<script src="__ADMIN__/assets/js/jquery.sparkline.min.js"></script>
	<script src="__ADMIN__/assets/js/flot/jquery.flot.min.js"></script>
	<script src="__ADMIN__/assets/js/flot/jquery.flot.pie.min.js"></script>
	<script src="__ADMIN__/assets/js/flot/jquery.flot.resize.min.js"></script>
	<script src="__ADMIN__/assets/js/ace-elements.min.js"></script>
	<script src="__ADMIN__/assets/js/ace.min.js"></script>
</head>
<body>
	{block name="top"}{include file="public/top"}{/block}
	<div class="main-container" id="main-container">
		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>
			{block name="left"}{include file="public/left"}{/block}
			{block name="right"}{/block}
		</div><!-- /.main-container-inner -->
	</div><!-- /.main-container -->
</body>
</html>